html
  include head.pug

  body
    header
      a(href="https://pseudoramble.com") pseudoramble

    div(id="main")
      article
        div(class="dates")
          span(id="published") Published on #{publishedDate}
          if modifiedDate
            span(id="modified") Modified on #{modifiedDate}
            
        include:markdown-it ../data/docs/__temp.md
      nav
        span(class="other-entries-title")
        ul(id="previous-entries-list" class="previous-entries")
          each entry in previousEntries
            li
              a(href=entry.url) #{entry.title}