head
    title= title
    meta(name= "viewport" content= "width=device-width, initial-scale=1")

    link(rel="stylesheet" href="../../site.css" type="text/css" media="screen")
    link(href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css")
    link(href="../../rainbow-style.css" rel="stylesheet" type="text/css")

    script(src="../../rainbow-custom.min.js")
    script(src= "../../../assets/js/analytics.js")