head
    title= title
    meta(name= "viewport" content= "width=device-width, initial-scale=1")

    link(rel="stylesheet" href="/assets/css/blog.css" type="text/css" media="screen")
    link(href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css")
    link(href="/assets/css/rainbow-style.css" rel="stylesheet" type="text/css")

    script(src="/assets/js/rainbow-custom.min.js")
    script(src="/assets/js/analytics.js")