/* Layout Stuff */
header {
    display: block;
}

#main, #page {
    -webkit-flex-flow: column;
    flex-flow: column;
}

#main > nav {
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 2;
    order: 2;
}

#main > article {
    -webkit-flex: 3 1 80%;
    flex: 3 1 80%;
    -webkit-order: 2;
    order: 2;
}

.other-entries-title {
    display: block;
}

/* Styling Stuff */
body {
    margin: 0;
    font: 100% sans-serif;
    font-family: 'Open Sans', sans-serif;
    background: #dcddd8;
    color: #354b5e;
}

img, embed, object, video {
    max-width: 100%;
}

header {
    min-height: 75px;
    background: #D74B4B;
    padding: 10px;
    font-size: 2.2em;
}

nav > .previous-entries {
    font-size: 0.8em;
    margin: 0px;
    padding: 10px 0px 0px 10px;
    list-style: none;
}

nav > .previous-entries li {
    padding: 3px;
}

nav > .other-entries-title {
    font-weight: 800;
    font-size: 1.3em;
}

nav.index {
    background-color: #354b5e;
    color: #dcddd8;
}

nav.index span {
    text-align: center;
    font-size: 1.8em;
}

.dates span {
    font-size: 0.65em;
    padding: 0 0 0 5px;
}

h2 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
    margin: 1.5em 0.5em 0.3em 0.1em;
}

#main {
    min-height: 800px;
    padding: 0px;
}

nav a {
    color: inherit;
}

nav.index a {
    text-decoration: none;
}

#main > article {
    padding: 10px;
    background: #dcddd8;
    line-height: 1.4em;
}

#main > nav {
    padding: 5px;
    background: #475f77;
    color: #dcddd8;
}

#main > article > p {
    padding: .2em 0 .2em 0;
}

.article-header {
    padding: 5px;
    font-weight: 800;
    font-size: 1.9em;
    line-height: initial;
}

/* Special content tweaks to be used when needed */
.label {
    font-weight: bold;
    font-size: 1.05em;
}

.quotation {
    display: block;
    font-size: 1.4em;
    font-style: italic;
    padding: 15px;
}

.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.small {
    font-size: 0.7em;
    font-style: italic;
}

.hidden {
    display: none;
}

/* Specific device tweaks */
@media all and (min-width: 769px) {
    #main > article, #main > nav > * {
        width: 768px;
        margin: 0 auto;
    }
}

@media all and (max-width: 768px) {
    body {
        font-size: 90%;
    }
        
    #main > nav, header, footer {
        min-height: 50px;
    }
    
    nav > .previous-entries li {
        list-style-type: none;
        text-decoration: underline;
    }
}